@import "tailwindcss";

:root {
  --background: #FAFAF8;
  --foreground: #111111;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, Arial, sans-serif;
}

.container-custom {
  max-width: 1400px;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media(max-width:768px){
  .container-custom{
    padding-left:24px;
    padding-right:24px;
  }
}
